<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lien expiré</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/User/error_style.css') }}">
    </head>

    <body>
        <div class="error-container">
            <h1>Oops !</h1>
            <br/>
            <p>
                Le lien que vous essayer d'atteindre ne permet plus créer de comptes.
            </p>
        </div>
    </body>
</html>